# Ignore Everything
*

# but,
!examples/**/*.cpp
!C++ algos/*.cpp
!*/
!.vscode/*.json
!examples/**/*.sh
!*.md
!examples/**/*.txt
!examples/**/*.supp
!artefacts/**/*.txt
!npv/**/*
!**/*.drawio
!**/*.excalidraw
!**/*.code-workspace
!**/make/Makefile
!**/**/*.pdf


#
examples/**/build/*
examples/**/CMakeCache.txt
examples/**/CMakeFiles/*

